---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-yellow lg:text-4xl">Acerca de mí</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-yellow"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			<span class="font-normal">Mi nombre es</span><span class="font-bold italic text-yellow">
				Harold cruz</span
			>.<span class="font-normal"></span>
			Soy un gran desarrollador full-stack con experiencia en el desarrollo web. Mi enfoque se centra
			en la imlementación de librerías de diseño como Tailwind CSS y Materialize para crear interfaces
			visuales atractivas y responsivas. Además, tengo conocimientos en el desarrollo back-end utilizando
			Node.js y bases de datos como MySQL y MongoDB. Con mi experiencia en el desarrollo full-stack,
			puedo crear aplicaciones web completas, combinando funcionalidad y estética de manera efectiva.
			Siempre estoy actualizado con las últimas tendencias en desarrollo web para ofrecer soluciones
			modernas.
		</p>
	</div>
</section>
